.studio {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);

  &.studio--left {
    .studio__sidebar {
      order: 1;
    }

    .studio__board {
      order: 2;
    }
  }

  &.studio--right {
    .studio__sidebar {
      order: 2;
    }

    .studio__board {
      order: 1;
    }
  }

  .studio__sidebar {
  }

  .studio__board {
    flex: 1;
  }
}
