node_modules
.env
.idea
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
deployments
test-results
out.log
artifacts
artifacts-py

.DS_Store
_data
_models
_outputs
cache_forge
out
.openzeppelin
