.sidebar-tab {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  will-change: opacity;
  transition: opacity 0.5s var(--ease-out-quart);
  padding: 4px;
  opacity: 0.2;

  &.sidebar-tab--active {
    opacity: 1;
  }

  &:hover {
    opacity: 0.8;
  }

  svg {
    fill: var(--color);
    stroke: var(--border-color);

    mask {
      fill: var(--color);
      stroke: var(--border-color);
    }

    path {
      fill: var(--color);
      stroke: var(--border-color);
    }
  }
}

.sidebar-tab__title {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.sidebar-tab__required {
  color: red;
  font-size: 18px;
  line-height: 0;
  font-weight: 500;
  user-select: none;
  pointer-events: none;
}
