.studio-form-render {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.studio-form-single-field {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 100%;

  .studio-form-single-field-row {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.studio-form-multiple-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  .studio-form-multiple-field-heading {
  }

  .studio-form-multiple-field-table {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .studio-form-multiple-field-row {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
  }
}
