.studio-tooltip-trigger {
  display: inline-block;
}

.studio-tooltip-content {
  position: fixed;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  z-index: 1000;
  pointer-events: none;
  white-space: wrap;
  text-wrap: wrap;
  animation: tooltipFade 0.2s ease-in-out;
}

// .tooltip-arrow {
//   position: absolute;
//   width: 8px;
//   height: 8px;
//   background: inherit;
//   transform: rotate(45deg);
// }

// /* Arrow positions */
// .tooltip-arrow-top {
//   bottom: -4px;
//   left: 50%;
//   margin-left: -4px;
// }

// .tooltip-arrow-bottom {
//   top: -4px;
//   left: 50%;
//   margin-left: -4px;
// }

// .tooltip-arrow-left {
//   right: -4px;
//   top: 50%;
//   margin-top: -4px;
// }

// .tooltip-arrow-right {
//   left: -4px;
//   top: 50%;
//   margin-top: -4px;
// }

@keyframes tooltipFade {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
