.studio-field-text-area {
  border-radius: 8px;
  padding: 8px 12px;
  min-width: 180px;
  width: 100%;

  min-height: 28px;
  border: 1px solid transparent;

  &:focus {
    border: 1px solid #4a90e2;
  }

  &.studio-field-text-area__error {
    border-color: rgb(252, 66, 66);
  }
}
